.footer {
    z-index: 5;
    height: 300px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: var(--green);
}

.container {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.h3 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: lighter;
    font-family: 'Lobster', sans-serif;
}

.txt {
    margin-top: 10px;
    font-family: 'Lobster', sans-serif;
    width: 100%;
    text-align: center;
}

.link_container {
    display: flex;
    justify-content: center;
}

.link2 {
    margin: 10px;
    text-decoration: underline;
    transition: .4s ease-in-out;
}

.link2:hover {
    color: var(--blue)
}

.link {
    width: 100%;
    font-family: 'Lobster', sans-serif;
    display: flex;
    margin: 20px 0 10px 0;
    justify-content: center;
}

.codev {
    margin-left: 4px;
    color: var(--blue);
    font-style: italic;
    font-weight: bold;
}

.codev:hover {
    text-decoration: underline;
}